
* {
    margin: auto;
    padding: auto;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/31/19/05/web-design-2906159_640.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Tahoma, sans-serif;
}

.box {
    width: 380px;
    height: 600px;
    background-color: rgba(37, 36, 36, 0.7);
    padding: 20px;
    margin: 5% 60%;
    text-align: center;
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0 4px 10px 4px rgb(129, 81, 174);
}

.header {
    width: 300px;
    height: 50px;
    text-transform: uppercase;
    display: inline-flex;
    padding-top: 20px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    justify-content: space-between;
}

#login1,
#signup1 {
    /* margin-top: 15px; */
    width: 100%;
    background-color: rgb(112, 212, 246);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-right: 10px;
    border-radius: 5px;
    font-size: large;
}

#msg,
#msg1 {
    color: red;
    /* text-align: left; */
    font-size: 15px;
    padding-bottom: 20px;

}

#errorMsg,
#errorMsg1,
#errorMsg2,
#errorMsg3 {
    color: red;
    font-size: 15px;
    padding-bottom: 20px;

}

input[type=text],
input[type=password],
input[type=email] {
    display: block;
    position: relative;
    border: 4px solid #ffffff;
    padding: 12px;
    margin-bottom: 7px;
    width: 100%;
    box-sizing: border-box;
    font-size: 17px;
    outline: none;
}

input[type=text]:hover,
input[type=password]:hover,
input[type=email]:hover {
    border: 4px solid #df80ff;

}
#submit {
    display: block;
    position: relative;
    border: 3px solid #df80ff;
    padding: 12px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 25px;
    background-color: rgb(112, 212, 246);
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#submitMsg{
    display: block;
    position: relative;
    border: 3px solid #df80ff;
    padding: 12px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 25px;
    background-color: rgb(112, 212, 246);
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
}
#submit:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

input[type=checkbox] {
    background-color: #df80ff;
}

#check {
    margin-top: 10px;
    text-align: left;
    color: #ffffff;
    font-size: 15px;
}

/* //forget password */
/* body {

    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

} */

.card ,.chnpsw{
    display: inline-block;
    background-color: rgba(64, 63, 63, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
}

#forgotPasswordEmail {
    display: block;
    position: relative;
    border: 4px solid #ffffff;
    padding: 12px;
    margin-bottom: 40px;
    width: 25%;
    box-sizing: border-box;
    font-size: 17px;
    outline: none;
    margin-left: 60%;
}

.lock-icon {
    font-size: 3rem;
    text-align: center;
}

h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 10px 22px;
    text-transform: uppercase;
}

p {
    font-size: 12px;
}

.passInput {
    margin-top: 15px;
    width: 80%;
    border: none;
    border-bottom: 2px solid rgb(72, 203, 247);
    font-size: 15px;
    color: rgb(32, 31, 31);
    outline: none;
    margin-bottom: 15px;
}

button[type="button"] {
    width: 70%;
    background-color: rgb(112, 212, 246);
    color: white;
    padding: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
    margin-left: 50px;
    border-radius: 5px;

}

/* otp change */
.container {
    width: 60%;
    max-width: 400px;
    margin: 15% auto;
    padding: 20px;
    border-radius: 12px;
}

#otpbox{
    display: block;
    position: relative;
    border: 4px solid #ffffff;
    padding: 12px;
    margin-bottom: 40px;
    width: 25%;
    box-sizing: border-box;
    font-size: 17px;
    outline: none;
    margin-left: 60%;
}
h1 {
    text-align: center;
}

input[type="number"] {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 50px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 40%;
    margin: 8px 100px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}


/* change password */

/* .form-popup {
    width: 380px;
    height: 450px;
    background-color: rgba(94, 92, 92, 0.7);
    padding: 20px;
    margin: 5% auto 0;
    box-sizing: border-box;
    flex-direction: column;
    box-shadow: 0 4px 10px 4px rgb(129, 81, 174);
    display: none;
    border: 1px solid #f1f1f1;
} */
.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}
label{
    display: block;
    margin-bottom: 10px;
    width: 100%;
   font-size: 20px;
   margin-left: 20px;
}

.chnpsw{
    display: inline-block;
    background-color: rgba(108, 106, 106, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    width: 20%;
    margin-left: 60%;
}
/* #submitMsg {
    display: block;
    position: relative;
    border: 3px solid #df80ff;
    padding: 12px;
    margin-bottom: 15px;
    width: 60%;
    border-radius: 25px;
    background-color: rgb(112, 212, 246);
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
} */
#submitMsg {
    display: inline-block;
    border: none;
    position: relative;
    border: 3px solid #80c2ff;
    margin: 0px 50px 15px 80px;
    width: 50%;
    border-radius: 25px;
    background-color: rgb(112, 212, 246);
    font-size: 25px;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    
}
#submitMsg:hover {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
}

.changepass {
    justify-content: space-between;
    height: 50px;
    width: 150px;
    background-color: red;
    text-align: center;
 
}

#error1,
#error2 {
    color: red;
     margin-left: 20px;
    font-size: 15px;
    padding-bottom: 20px;

}
#forpass{
    text-decoration: none;
    color: white;
    font-size: large;
}
#forpass a{
    color: #000000;
}
#forpass:hover{
    color: #000000;
}
